<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourite</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Bootstrap CSS -->
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet"> -->
 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
 <link rel="stylesheet" href="/vendor/border-box.css" />
 <link rel="stylesheet" href="/styles/main.css" />
 <link rel="stylesheet" href="/styles/layout.css" />
 <link rel="stylesheet" href="/styles/nav.css" />

<!-- Bulma CSS-->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"> -->
 <script src="/vendor/jquery-3.0.0.js"></script>
 <script defer src="/scripts/products.js"></script>
 <script defer src="/scripts/favourites.js"></script>

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
  integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/favourites.js"></script>

  <title>Favourites</title>


</head>

<body>
  <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>Your Wishlist</h3>

      <!-- display it in the same way as its shown on the main page, like cards -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Photo</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>


        <tbody>
          <% for(let product of products) { %>
            <tr>
              <td class="product-photo">
                <img class="product-image" src="<%= product.image_url %>" alt="<%= product.title %>">
              </td>
              <td class="product-details">
                <h2 class="product-title"><%= product.title %></h2>
              </td>
              <td class="product-price">
                <h3 class="product-price">$<%= product.price/100.0 %></h3>
              </td>
              <td class="product-actions">
                <form method="POST" action="/api/favourites/<%=product.id%>/delete" id="delete-form-<%= product.id %>">
                  <input type="hidden" value="/favourites" name="redirect_url">
                  <button type="submit" class="btn btn-outline-danger" onclick="deleteProduct('<%= product.id %>')">
                    Remove from Wishlist
                  </button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>

    <script>
      function deleteProduct(productId) {
        if (confirm("Are you sure you want to remove this product from your wishlist?")) {
          const form = document.getElementById(`delete-form-${productId}`);
          form.submit();
        }
      }
    </script>
</body>


</html>
